div.card
  h1  Cambiar contraseña 
  form.user-form(action='/users/changePassword' method='POST')
    div.form-group
      label(for='oldPassword') Contraseña antigua
      input.form-control(type='password' name='old_password' placeholder='Contraseña antigua' required)
    hr
    div.form-group
      label(for='password') Contraseña nueva
      input(type='password' name='password' placeholder='Contraseña nueva' required minlength=6)
    div.form-group
      label(for='password') Repetir contraseña nueva
      input(type='password' name='password2' placeholder='Contraseña nueva' required minlength=6)
    div.form-group
      button.btn.btn-primary.btn-block(type='submit') Confirmar