include templates/partials/header
body
  include templates/partials/navbar

  if errors != undefided || success_msg != '' || error_msg != '' || error != ''
    div.screenCover
      if errors != undefided
        - var cover_tittle = 'Error'
        - var cover_list = errors
        include templates/partials/cover_alert
        //- - var cover_list = undefined
      if success_msg != ''
        - var cover_tittle = 'Éxito'
        - var cover_message = success_msg
        include templates/partials/cover_alert
      if error_msg != ''
        - var cover_tittle = 'Error'
        - var cover_message = error_msg
        include templates/partials/cover_alert
      if error != ''
        - var cover_tittle = 'Fallo'
        - var cover_message = error
        include templates/partials/cover_alert
  main
    //- div.ctaButton
      button A
    div.container-block
      each part in page_schema
        if (part.name == 'card')
          -    
            var card = {
              src: part.src,
              alt: part.alt,
              tittle: part.tittle,
              description: part.description,
              link: part.link,
              list: part.list,
              permissions: part.permissions
            }
          include templates/partials/card

        if (part.name == 'table')
          - var arrayProblems = part.arrayProblems
          //- include templates/partials/problems_table
          include templates/partials/responsive_table

        if (part.name == 'problem_detail')
          - var problemDetail = part.problemDetail
          include templates/partials/problem_detail

        if (part.name == 'booking')
          include templates/user/booking/booking

        if (part.name == 'books')
          include templates/user/booking/books

        if (part.name == 'permissions')
          include templates/user/booking/permissions

        if (part.name == 'payment')
          include templates/user/booking/payment

        if (part.name == 'login')
          include templates/user/login

        if (part.name == 'change_password')
          include templates/user/change_password

        if (part.name == 'register')
          include templates/user/register

        if (part.name == 'register_dummy')
          include templates/user/register_dummy

        if (part.name == 'dashboard')
          include templates/user/dashboard

        if (part.name == 'month_subscriptions')
          include templates/user/booking/month_subscriptions

        if (part.name == 'logs')
          include templates/admin/logs

        if (part.name == 'admin_boulders')
          include templates/admin/boulders

        if (part.name == 'admin_register')
          include templates/admin/register

        if (part.name == "admin_users")
          include templates/admin/users

        if (part.name == "edit_boulder")
          include templates/partials/edit_boulder

        if (part.name == "leagues")
          include templates/partials/leagues

        if (part.name == "edit_league")
          include templates/partials/edit_league

        if (part.name == "set_pending")
          include templates/partials/set_pending
        
        if(part.name == "new_boulder")
          include templates/admin/newBoulder

        