include templates/new_header.pug
body
  include templates/nb_navbar.pug
  main
    each part in page_schema
      if (part.name == 'card')
        -    
          var card = {
            src: part.src,
            alt: part.alt,
            tittle: part.tittle,
            description: part.description,
            link: part.link,
            list: part.list
          }
        include templates/card.pug

      if (part.name == 'table')
        - var arrayProblems = part.arrayProblems
        include templates/problems_table2.pug

      if (part.name == 'booking')
        include templates/booking.pug

      if (part.name == 'books')
        include templates/books.pug

      if (part.name == 'permissions')
        include templates/permissions.pug

      if (part.name == 'payment')
        include templates/payment.pug