include templates/new_header
body
  include templates/nb_navbar
  main
    //- div.ctaButton
      button A
    //- div.screenCover
      include templates/partials/cover-alert
      include templates/partials/cover-alert
    each part in page_schema
      if (part.name == 'card')
        -    
          var card = {
            src: part.src,
            alt: part.alt,
            tittle: part.tittle,
            description: part.description,
            link: part.link,
            list: part.list
          }
        include templates/card.pug

      if (part.name == 'table')
        - var arrayProblems = part.arrayProblems
        include templates/problems_table2

      if (part.name == 'booking')
        include templates/booking

      if (part.name == 'books')
        include templates/books

      if (part.name == 'permissions')
        include templates/permissions

      if (part.name == 'payment')
        include templates/payment