include templates/partials/new_header
body
  include templates/partials/nb_navbar

  if errors != undefided || success_msg != '' || error_msg != '' || error != ''
    div.screenCover
      if errors != undefided
        - var cover_tittle = 'Error'
        - var cover_list = errors
        include templates/partials/cover-alert
        //- - var cover_list = undefined
      if success_msg != ''
        - var cover_tittle = 'Éxito'
        - var cover_message = success_msg
        include templates/partials/cover-alert
      if error_msg != ''
        - var cover_tittle = 'Error'
        - var cover_message = error_msg
        include templates/partials/cover-alert
      if error != ''
        - var cover_tittle = 'Fallo'
        - var cover_message = error
        include templates/partials/cover-alert
  main
    //- div.ctaButton
      button A
    each part in page_schema
      if (part.name == 'card')
        -    
          var card = {
            src: part.src,
            alt: part.alt,
            tittle: part.tittle,
            description: part.description,
            link: part.link,
            list: part.list
          }
        include templates/partials/card.pug

      if (part.name == 'table')
        - var arrayProblems = part.arrayProblems
        include templates/partials/problems_table2

      if (part.name == 'booking')
        include templates/user/booking

      if (part.name == 'books')
        include templates/user/books

      if (part.name == 'permissions')
        include templates/user/permissions

      if (part.name == 'payment')
        include templates/user/payment

      if (part.name == 'login')
        include templates/user/login

      if (part.name == 'register')
        include templates/user/register

      if (part.name == 'dashboard')
        include templates/user/dashboard