- var tittleText = 'Login'
include templates/header.pug

h1  Login 
include templates/messages.pug
form(action='/users/login' method='POST')
  div
    label(for='email') Email
    input(type='email' name='email' placeholder='Enter Email')
  div
    label(for='password') Password
    input(type='password' name='password' placeholder='Enter Password')
  div
    button.btn.btn-primary.btn-block(type='submit') Login
