- var tittleText = 'Problemas'
include templates/header.pug
body
  - var arrayProblems = arrayBoulders
  include templates/problems_table
  br
  - var arrayProblems = arrayTraverses 
  include templates/problems_table