table.table(role='presentation')
  tr
    td.p0(style='padding:0 0 36px 0;color:#153643;')
      h1(style='font-size:24px;margin:0 0 20px 0;font-family:Arial,sans-serif;') Mandala Climb · Verificar email
      p(style='margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;')
        = `Hola ${user.name}, para que podamos verificar tu identidad, necesitamos que valides tu email. Sólo tienes que seguir el siguiente enlace y todo listo`
      p(style='margin:0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;')
        a(href=link style='color:#ee4c50;text-decoration:underline;') Verificar email