if typeof errors != 'undefined'
    each errorData in errors
        p#errors= errorData.msg

if success_msg != ''
    p#success.success-msg= success_msg

if error_msg != ''
    p#errormsg.error-msg= error_msg

if error != ''
    p#error= error
