li.nav-item.nav-link
    a(href='/users/login') Entrar
    //span.glyphicon.glyphicon-user
li.nav-item.nav-link(class={ 'd-none': typeof allowRegister === 'undefined' })
    a(href='/users/register') Crear cuenta
    //span.glyphicon.glyphicon-log-in