nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/') Mandala Climb
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | Bloques
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='/boulders/') Todos
          .dropdown-divider
          a.dropdown-item(href='/boulders/lastproblems') Últimos
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | Travesías
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='/traverses/') Todos
          .dropdown-divider
          a.dropdown-item(href='/traverses/lastproblems') Últimos
    ul.navbar-nav.navbar-right
      if (user)
        .navbar-text= user.name
        li.nav-item.nav-link
          a(href='/users/logout') Logout
      else
        include nav_login.pug
      
