div.card
  form.user-form(action="/users/payment", method="post")
    h1 Añadir pago
    div.form-group
      div.form-group
        h3 Usuario
        input#userName(type="text", placeholder="Buscar...", onkeyup="filterDropdown(\"users\", this.value, \"submitPayment\")")
      select#users(name="users")
        option(disabled,hidden) Elige un usuario
        each userInfo in part.users
          if(userInfo.name == "Invitado")
            option(value=userInfo._id, selected)= userInfo.name
          else
            option(value=userInfo._id)= userInfo.name

    hr
    div.form-group
      h3 Compra
      div.radio
        input#paid1(type="radio", name="paid", value="month", checked) 
        label(for="paid1") Mes
      div.radio
        input#paid2(type="radio", name="paid", value="training") 
        label(for="paid2") Entreno
      div.radio
        input#paid3(type="radio", name="paid", value="voucher")
        label(for="paid3") 5 sesiones
      div.radio
        input#paid4(type="radio", name="paid", value="trainingVoucher") 
        label(for="paid4") 5 sesiones + clases
      - const dateValue = new Date().getFullYear() + "-" + (new Date().getMonth() - (-1)).toString().padStart(2, "0");
      input(type="month", name="selectedmonth", value=dateValue)
    div.form-group
      button#submitPayment(type="submit") Submit
