table.table(style='max-width: 600px;')
  tbody
    tr
      th(scope='col') Dificultad
      th(scope='col') Número
      th(scope='col') Fecha
    each problem in arrayProblems
      tr(onclick="window.location='/boulders/details'", style={'background-color': problem.color})
        td= problem.dificultyName
        td= problem.number
        td= problem.date
      tr(style ={'height': '1rem'})