//- div#screenCover.screenCover(style='display:none')
//- div#screenCover.screenCover
div.screenCoverFlash.card
  h3= cover_tittle
  if cover_message
    each message in cover_message[0].split("\n")
      p= message
      //- p= cover_message
  if cover_list 
    ul
    each list_element in cover_list 
      li= list_element.msg
  button(onClick="closeCover(this.parentElement)") Cerrar