//- div#screenCover.screenCover(style='display:none')
//- div#screenCover.screenCover
div.screenCoverFlash.card
  h3 Mensaje
  p Párrafo Párrafo Párrafo Párrafo Párrafo Párrafo Párrafo Párrafo Párrafo
  button(onClick="closeCover(this.parentElement)") Cerrar